<table class="table table-info">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Deletion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.UserId</th>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <a href="@Url.Action("DeleteUser", "Admin", new { id = user.UserId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>